.blog-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a50bec;
    padding: 20px;
  }
  
  .blog-highlight h2 {
    margin: 0;
  }
  
  .blog-highlight p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  