.navigation {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content:center;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 0px 3rem; 
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  